@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  display: none;
}

.container {
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.7;
  padding: 20px 40px;
  border-radius: 12px;
  text-align: center;
  max-width: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}

form {
  margin-bottom: 20px;
}

#search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  padding: 12px 20px;
  width: calc(100% - 35px);
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border 0.3s ease;
}

input[type="text"]:focus {
  border: 1px solid #007BFF;
  outline: none;
}

input[type="submit"] {
  padding: 12px 20px;
  border: none;
  background: #007BFF;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="submit"]:hover {
  background: #0056b3;
}

.weather-info {
  display: none;
}

.weather-info.active {
  display: block;
}

.weather-info h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
}

.weather-info p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
  font-family: 'Raleway', sans-serif;
}

.weather-icon {
  width: 60px;
  margin-bottom: 10px;
  background: rgba(138, 222, 243, 0.548);
  padding: 5px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media (max-width: 768px) {
  .container {
  flex-wrap: wrap;
  }

  input[type="text"],
  input[type="submit"] {
    max-width: 100%;
  }

  .weather-info h2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .weather-info p {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .weather-icon {
    width: 50px;
  }
}

@media (max-width: 480px) {
  .container {
    flex-wrap: wrap;

  }

  .weather-info h2 {
    font-size: 18px;
  }

  .weather-info p {
    font-size: 12px;
  }

  .weather-icon {
    width: 40px;
  }
}